﻿table{
	border:1px #333 solid;
	border-collapse:collapse;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}

tr{
	border:1px #333 solid;
	border-collapse:collapse;
	padding:5px;
}

td{
	border:1px #333 solid;
	border-collapse:collapse;
	padding:5px;
}

.uno{
	background-image:url('fondo_gris.gif');
	font-weight:bold;
}

.dos td:nth-child(1),.tres td:nth-child(1),.cuatro td:nth-child(1),.cinco td:nth-child(1){
	background-color:#E6F3FF;
	text-align:left;
	font-weight:bold;
}

td:hover{
	background-color:#FFFF66;
}

tr:nth-child(even){
	background-color:#FFFFCC;
}

img{
	text-align:center;
}