﻿body{
	background-color:lightpink;
	height:100vh;
	padding:1%;
	font-weight:bold;
	font-size:x-large;
}

header{
	background-color:paleturquoise;
	height:15vh;
	text-align:center;
	width:100%;
	margin:0 auto;
	color:white;
	line-height:100px;
}

.central{
	height:70vh;
}
.menu{
	background-color:dodgerblue;
	height:500px;
	text-align:center;
	width:31%;
	position:absolute;
	color:white;
	
}

.dcha{
	background-color:coral;
	height:500px;
	width:66%;
	position:relative;
	left:34%;
	margin-top:20px;
	text-align:center;
	color:white;
}

.article{
	background-color:lightsalmon;
	width:95%;
	height:290px;
	margin:0 auto;
	position:relative;
	top:18px;
	line-height:100px;
}

.foto1{
	background-color:lightsalmon;
	width:28%;
	height:150px;
	margin-left:2.6%;
	margin-top:6%;
	position:absolute;
	bottom:2%;
	background-image:url('1.png');
	background-position:center;
	background-size:cover;
	border:6px lightsalmon solid;
}

.foto2{
	background-color:lightsalmon;
	width:28%;
	height:150px;
	margin-left:1.8%;
	margin-top:6%;
	position:absolute;
	left:33%;
	bottom:2%;
	background-image:url('2.png');
	background-position:center;
	background-size:cover;
	border:6px lightsalmon solid;
}

.foto3{
	background-color:lightsalmon;
	width:28%;
	height:150px;
	margin-left:3.8%;
	margin-top:6%;
	position:absolute;
	left:63%;
	bottom:2%;
	background-image:url('3.png');
	background-position:center;
	background-size:cover;
	border:6px lightsalmon solid;
}

footer{
	background-color:paleturquoise;
	height:15vh;
	text-align:center;
	width:100%;
	margin:0 auto;
	color:white;
	margin-top:20px;
	line-height:100px;
}
