body{
    font-family: Arial, Helvetica, sans-serif;
}

.cuerpo{
    display: grid;
    grid-template-rows: 35px auto auto;
}

header{
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 1.5fr;
    padding: 0 2%;
    background-color: black;
    color: white;
    height: 35px;
}

.bbc{
    display: flex;
    flex-direction: row;
    padding: 0 2%;
    justify-content: right;
    align-items: center;
    color: black;
}

.bbc .uno, .bbc .dos, .bbc .tres{
    background-color: white;
    margin: 0 2%;
    padding: 0 2px;
    font-weight: bold;
}

nav{
    padding: 0 2%;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 9pt;
    padding: 1.2% 2%;
    border-right: 1px white solid;
}

form{
    display: flex;
    align-items: center;
}

form input{
    padding: 0 2%;
    display: flex;
    justify-content: left;
    height: 60%;
    color: gray;
}

main{
    background-color:lightgray;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.contenidomain{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.06fr 10fr 10fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "africa efootball capital"
    "rusia miss food";
    gap:15px;
    width: 90%;
    margin:0 auto;
}

main h1{
    grid-area: titulo;
    font-size: 13pt;
    line-height: 10px;
    margin-bottom: 0; 
    margin-top: 20px;
    color:rgb(60, 60, 60);   
}

.africa{
    grid-area: africa;
}

.efootball{
    grid-area: efootball;
}

.capital{
    grid-area: capital;
}

.rusia{
    grid-area: rusia;
}

.miss{
    grid-area: miss;
}

.food{
    grid-area: food;
}

.africa .iafrica{
    background-image: url('atentado.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.iafrica{
    height: 60%;
}

.efootball .iefootball{
    background-image: url('inter.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.iefootball{
    height: 60%;
}

.capital .icapital{
    background-image: url('arquera.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icapital{
    height: 60%;
}

.rusia .irusia{
    background-image: url('rusia.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.irusia{
    height: 60%;
}

.miss .imiss{
    background-image: url('hollywood.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imiss{
    height: 60%;
}

.food .ifood{
    background-image: url('healthy.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ifood{
    height: 60%;
}

.africa h2, .efootball h2, .capital h2, .rusia h2, .miss h2, .food h2{
    font-size: 12pt;
}

.africa div, .efootball div, .capital div, .rusia div, .miss div, .food div{
    font-size: 9pt;
}

.africa div span, .efootball div span, .capital div span, .rusia div span, .miss div span, .food div span{
    color: red;
}

.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.06fr 10fr 10fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "news1 news2 news3";
    gap: 15px;
    width: 90%;
    margin:0 auto;
}

.news h1{
    grid-area: titulo;
    grid-area: titulo;
    font-size: 13pt;
    line-height: 10px;
    margin-bottom: 0; 
    color:rgb(60, 60, 60);
}

.news1{
    grid-area: news1;
}

.news .inews1{
    background-image: url('somalia.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inews1{
    height: 80%;
}

.news2{
    grid-area: news2;
}

.news .inews2{
    background-image: url('austria.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inews2{
    height: 80%;
}

.news3{
    grid-area: news3;
}

.news .inews3{
    background-image: url('harvey.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inews3{
    height: 80%;
}

.news1 h2, .news2 h2, .news3 h2{
    font-size: 12pt;
}

.news1 p, .news2 p, .news3 p{
    font-size: 11pt;
}
