.cuerpo{
    width: 100%;
    height: 100vh;
    background-image: url('campo.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.conos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,280px);
    grid-template-areas: 
    "c1 c2 c3 c4"
    "c5 c6 c7 c8"
    "c9 c10 c11 c12";
    padding-top: 70px;
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{
    background-image: url('cono.png');
    background-size:contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 20vh;
    width: 50%; 
    display: flex;
    align-self: center;  
}

.c1{
    grid-area: c1;
    display: none;
}

.c2{
    grid-area: c2;
}

.c3{
    grid-area: c3;
    display: none;
}

.c4{
    grid-area: c4;
}

.c5{
    grid-area: c5;
    display: none;
}

.c6{
    grid-area: c6;
    display: none;
}

.c7{
    grid-area: c7;
}

.c8{
    grid-area: c8;
    display: none;
}

.c9{
    grid-area: c9;
    display: none;
}

.c10{
    grid-area: c10;
}

.c11{
    grid-area: c11;
    display: none;
}

.c12{
    grid-area: c12;
}

.jugador img{
    width: 20%;
    position: absolute;
    top: 250px;

    animation-name: jugador;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

@keyframes jugador {
    0%{
        left: 0px;
        top: 280px;
    }

    25%{
        left: 300px;
        top: 280px;
    }

    50%{
        left: 550px;
        top:620px;
    }

    75%{
        left: 850px;
        top: 280px;
    }

    100%{
        left: 1100px;
        top: 280px;
    }
}
