.cabecera{
    background-color: green;
    height: 80px;
    border: 2px white solid;
}

.izq{
    background-color: brown;
    border: 2px white solid;
}

.uno{
    background-color: blueviolet;
    height: 100px;
    margin: 0 auto;
    border: 2px white solid;
}

.dos{
    margin: 0 auto;

}

.a,.b{
    background-color: orange;
    border: 2px white solid;
    display: flex;
    align-items: center;
    height: 80px;
}

.tres{

}

.tres>div{
    border: 2px white solid;
    background-color: blue;
    height: 100px;
}

.pie{
    background-color: green;
    height: 80px;
    border: 2px white solid;
}


@media all and (max-width:576px){
    .izq{
        height: 100px;
    }
}