#fname{
    border: 0;
    background-color: aqua;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

table{
    margin-top: 20px;
}

table tr td{
    border: 1px black solid;
    width: 40px;
    height: 40px;
    border-collapse: collapse;
    background-color: #ccc;
}

img{
    margin-top: 20px;
}