#calculadora{
    width: 45%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 5fr;
    grid-template-areas: 
    "pantalla"
    "teclas";
    box-shadow: 1px 1px 10px 2px #000000;
}

#pantalla{
    grid-area: pantalla;
    background-color: rgb(41, 41, 41);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 3%;
    box-shadow:inset 1px 1px 2px 1px #000000;
}

#teclas{
    grid-area: teclas;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "c masmenos dividir multi"
    "siete ocho nueve menos"
    "cuatro cinco seis mas"
    "uno dos tres igual"
    "cero cero punto igual";
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
}

.c{
    grid-area: c;
}

.masmenos{
    grid-area: masmenos;
}

.dividir{
    grid-area: dividir;
}

.multi{
    grid-area: multi;
}

.siete{
    grid-area: siete;
}

.ocho{
    grid-area: ocho;
}

.nueve{
    grid-area: nueve;
}

.menos{
    grid-area: menos;
}

.cuatro{
    grid-area: cuatro;
}

.cinco{
    grid-area: cinco;
}

.seis{
    grid-area: seis;
}

.mas{
    grid-area: mas;
}

.uno{
    grid-area: uno;
}

.dos{
    grid-area: dos;
}

.tres{
    grid-area: tres;
}

.igual{
    grid-area: igual;
}

.cero{
    grid-area: cero;
}

.punto{
    grid-area: punto;
}

.c,.masmenos,.dividir,.multi,.siete,.ocho,.nueve,.menos,.cuatro,.cinco,.seis,.mas,.uno,.dos,.tres,.igual,.cero,.punto{
    margin: 3%;
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    border: 2px solid black;
    color: rgb(221, 221, 221);
    font-size: 16pt;
    box-shadow: 1px 1px 10px 1px #000000;
    /*box-shadow:inset -4px -4px 20px 1px #000000;*/
}