body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

#cuerpo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color:orange;
    width: 100%;
    height: 10%;
    text-align: center;
    color: white;
}

nav{
    background-color: lightgray;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color:orange;
    background-color: white;
    border: 3px gray solid;
    flex-grow: 1;
    text-align: center;
    margin: 0.5%;
}

main{
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

main article img, main article p{
   width: 90%;
}

main article{
    text-align: center;
    align-items: center;
    background-color: white;
    /*width: 95%; */
    align-items: center;
}

article.oleo,article.cervatillo,article.cabra{
   padding: 15px;
}

main article p{
    font-size: small;
}

footer{
    background-color:orange;
    width: 100%;
       
}

footer p{
    color: white;
    text-align: center;
    line-height: 50px;
}

@media all and (max-width:600px) {
    header h1 span{
        display: none;
    }

    main{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,1fr);
        order:2;
    }
    
    header{
        display: flex;
        order: 1;
    }

    nav{
        display: flex;
        order: 3;
    }

    footer{
        display: flex;
        order: 4;
    }
}
