form{
	width:300px;
    height: 500px;
	background-color: #999;
	margin: 50px auto;
	border-radius: 10px;
    text-align: center;
}
.numeros{
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 5px;
}
#display{
    width: 162px;
    height: 50px;
    border: 2px black solid;
    text-align: center;
    background-color: grey;
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
}
#salida{
    padding: 5px;
}
#a{
    text-align: center;
    padding: 20px;
    margin-left: 50px;
}