body{
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    /*border: 8px black solid;*/
    background-color: black;
    height: 30px;
}

nav a{
    text-decoration: none;
    color: black;
    /*border: 7px black solid;*/
    width: 19%;
    text-align: center;
    background-color: lightgray;
    height: 23px;
    align-items: center;
    line-height: 23px;
}

main{
    display: flex;
    flex-direction: row;
    height: 500px;
}

main article{
    display: flex;
    flex-basis: 75%;
    flex-direction: column;
    padding-left: 10px;
}

main aside{
    display: flex;
    flex-basis: 25%;
    background-color: darksalmon;
    padding: 10px;
}

footer{
    border-top: 7px black solid;
    padding-left: 10px;
}

@media all and (max-width:700px){
    main article{
        flex-basis: 50%;
    }

    main aside{
        flex-basis: 50%;
    }
}