.cabecera{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    ". . . . redes redes redes redes . ."
    ". . . . nombre nombre nombre nombre . ."
    ". . . . texto texto texto texto . .";
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.lineauno{
    width: 100%;
    position: absolute;
    top: 130px;
}

.lineados{
    width: 100%;
    position: absolute;
    top: 215px;
}

.redes{
    grid-area: redes;
    display: flex;
    align-items: center;
}

.redes i{
    margin-right: 10px;
}

.nombre{
    grid-area: nombre;
}

.nombre h1{
    /*border-top: 1px solid gray;
    border-bottom: 1px solid gray;*/
    padding: 20px 0;
}

.texto{
    grid-area: texto;
}

.circulo img{
    width: 250px;
    border-radius: 250px;
    position: absolute;
    left: 100px/*calc(100%-100px)*/;
    top: 9%;
    border: 1px solid gray;
    padding: 35px;
    background-color: white;
}

.iconos{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 100px;
    grid-template-areas: 
    ". . . vida videos proyectos viaje . . .";
}

.iconos a{
    text-decoration: none;
    color: gray;
    font-size: 10pt;
}

.iconos a>img{
    width: 50px;
    border-radius: 50px;
}

.vida{
    grid-area: vida;
    text-align: center;
}

.videos{
    grid-area: videos;
    text-align: center;
}

.proyectos{
    grid-area: proyectos;
    text-align: center;
}

.viaje{
    grid-area: viaje;
    text-align: center;
}

.a div{
    background-image: url("1.jpeg");
    background-size: cover;    
}

.b div{
    background-image: url("2.jpeg");
    background-size: cover;
}

.c div{
    background-image: url("3.jpeg");
    background-size: cover;
}

.d div{
    background-image: url("4.jpeg");
    background-size: cover;
}

.e div{
    background-image: url("5.jpg");
    background-size: cover;
}

.f div{
    background-image: url("6.jpeg");
    background-size: cover;
}

.g div{
    background-image: url("7.jpeg");
    background-size: cover;
}

.h div{
    background-image: url("8.jpeg");
    background-size: cover;
}

.i div{
    background-image: url("9.jpeg");
    background-size: cover;
}

.j div{
    background-image: url("10.jpeg");
    background-size: cover;
}

.k div{
    background-image: url("11.jpeg");
    background-size: cover;
}

.l div{
    background-image: url("12.jpeg");
    background-size: cover;
}

.m div{
    background-image: url("13.jpeg");
    background-size: cover;
}

.n div{
    background-image: url("14.jpeg");
    background-size: cover;
}

.o div{
    background-image: url("15.jpeg");
    background-size: cover;
}

.p div{
    background-image: url("16.jpeg");
    background-size: cover;
}

.q div{
    background-image: url("17.jpg");
    background-size: cover;
}

.r div{
    background-image: url("18.jpeg");
    background-size: cover;
}

.s div{
    background-image: url("19.jpeg");
    background-size: cover;
}

.t div{
    background-image: url("20.jpeg");
    background-size: cover;
}

.a,.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.l,.m,.n,.o,.p,.q,.r,.s,.t{
    border: 1px solid gray;
}

.fotos>div>div{
    width: 280px;
    height: 300px;
    margin-top: 30px;
}

.fotos>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos>div>p{
    color: gray;
}

.pie{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    ". lineatres lineatres lineatres lineatres lineatres . . ."
    ". enlaces enlaces enlaces enlaces enlaces enlaces . ."
    ". primero primero primero primero primero primero . ."
    ". segundo segundo segundo segundo segundo segundo . .";
}

.enlaces>a{
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    font-size: 9pt;
}

.lineatres{
    grid-area: lineatres;
}

.enlaces{
    grid-area: enlaces;
}

.primero{
    grid-area: primero;
    font-size: 9pt;
    margin-left: 10px;
}

.primero>a{
    text-decoration: none;
    color: gray;
}

.segundo{
    grid-area: segundo;
    font-size: 9pt;
    margin-left: 10px;
}

.segundo>a{
    text-decoration: none;
    color: gray;
}

.segundo>span{
    color: gray;
}

@media all and (max-width:900px){
    .circulo img{
        display: none;
    }

    .cabecera{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "redes "
        "nombre"
        "texto";
        height: 300px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: center;
    }

    .redes{
       justify-content: center;
    }

    .pie{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "lineatres lineatres lineatres"
        "enlaces enlaces enlaces"
        "primero primero primero"
        "segundo segundo segundo";
    }

    .enlaces{
        text-align: center;
    }

    .primero{
        text-align: center;
    }

    .segundo{
        text-align: center;
    }
}