﻿*{
	padding:0;
	margin:0;
}

header{
	background-color:darkorange;
	border:3px black solid;
	margin:0 auto;
	width:990px;
	height:100px;
}

.centro{
	/*background-color:darkslategrey;*/
	/*border:3px black solid;*/
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;	
	width:990px;
	height:500px;
}

.menu{
	background-color:darkorange;
	border:3px black solid;
	width:200px;
	height:500px;
	vertical-align:central;
	float:left;
}

.gris{
	background-color:gray;
	border:3px black solid;
	width:760px;
	height:500px;
	float:left;
	margin-left:18px;
}

.naranja{
	background-color:darkorange;
	width:700px;
	height:100px;
	margin:0 auto;
	margin-top:20px;
	border:3px black solid;
}

.uno,.dos,.tres{
	background-color:aqua;
	width:144px;
	height:40px;
	float:left;
	margin-top:30px;
	margin-left:40px;
	border-radius:10px;
	text-align:center;
	line-height:40px;
	border:3px black solid;
}

.azul{
	background-color:aqua;
	width:700px;
	height:340px;
	margin:0 auto;
	margin-top:15px;
	border:3px black solid;
}

footer{
	background-color:darkorange;
	border:3px black solid;
	margin:0 auto;
	width:990px;
	height:100px;
}