body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

#cuerpo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color:orange;
    width: 100%;
    height: 10%;
}

header h1{
    color: white;
    text-align: center;
    line-height: 100px;
}

header h1:nth-child(2){
    display: none;
}

nav{
    background-color: lightgray;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color:orange;
    background-color: white;
    border: 3px gray solid;
    width: 18%;
    text-align: center;
}

main{
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.oleo,.cervatillo,.cabra{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:10px;
    flex:1 0 30%;
    justify-content: space-around;
}

.oleo img,.cervatillo img,.cabra img{
    width: 90%;
    align-self: center;
    margin-top: 15px;
    flex:1 1 60%;
}

.oleo p,.cervatillo p,.cabra p{
    text-align: justify;
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    flex:1 1 30%;
}

main article p{
    font-size: small;

}
.oleo button,.cervatillo button,.cabra button{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    flex:1 1 10%;
}

footer{
    background-color:orange;
    width: 100%;
    height: 7%;
}

footer p{
    color: white;
    text-align: center;
    line-height: 50px;
}

@media all and (max-width:600px){
    header h1:nth-child(1){
        display: none;
    }

    header h1:nth-child(2){
        display: block;
        color: white;
        text-align: center;
        line-height: 100px;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    nav{
        order:1;
    }

    footer{
        order:2;
    }
}
