﻿body{
	background-color:lavender;
	font-family:Arial, Helvetica, sans-serif;
}
.uno{
	color:midnightblue;
}
.dos{
	color:white;
	background-color:midnightblue;
	text-align:center;
}
div div{
	background-color:white;
	border-radius:10px 10px 10px 10px;
	width:800px;
	margin:0 auto;
}
h2{
	background-color:forestgreen;
	color:white;
	border-radius:10px 10px 0 0;
	padding-left:10px;
}
p{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:25px;
	text-align:justify;
}