.contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 50px 200px 75px 75px 80px;
    grid-template-areas: 
    "cabeza cabeza menu menu menu menu menu menu"
    "hero hero hero hero hero hero hero hero"
    "main main main main . . img img"
    "main main main main . . extra extra"
    "ban ban ban ban ban ban ban ban";
}

.contenedor div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cabeza{
    grid-area: cabeza;
    background-color: rgb(4, 1, 54);
    color: white;
    line-height: 50px;
}

.menu{
    grid-area: menu;
    background-color:rgb(252, 64, 64);
    color: white;
    line-height: 50px;
}

.hero{
    grid-area: hero;
    background-color:rgb(2, 129, 189);
    color: white;
    line-height: 200px;
}

.main{
    grid-area: main;
    background-color:rgb(25, 20, 54);
    color: white;
    line-height: 150px;
}

.img{
    grid-area: img;
    background-color:rgb(136, 214, 219);
    line-height: 75px;
}

.extra{
    grid-area: extra;
    background-color:rgb(7, 202, 127);
    line-height: 75px;
}

.ban{
    grid-area: ban;
    background-color:rgb(224, 208, 114);
    line-height: 80px;
}

@media all and (max-width:900px){
    .contenedor{
        grid-template-rows: 50px 150px 150px 80px 80px;
        grid-template-areas: 
        "cabeza cabeza cabeza cabeza cabeza cabeza cabeza cabeza"
        "hero hero hero hero hero hero hero hero"
        "menu menu main main main main main main"
        "menu menu ban ban ban ban ban ban"
        "menu menu extra extra extra extra img img";
    }
    
    .menu{
        line-height: 310px;
    }
    
    .hero{
        line-height: 150px;
    }
    
    .main{
        line-height: 150px;
    }
    
    .img{
        line-height: 80px;
    }
    
    .extra{
        line-height: 80px;
    }
    
}

@media all and (max-width:600px){
    .contenedor{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 50px 50px 90px 90px 80px 80px 80px;
        grid-template-areas: 
        "cabeza cabeza"
        "menu menu"
        "hero hero"
        "main main"
        "ban ban"
        "extra extra"
        "img img";
    }

    .menu{
        line-height: 50px;
    }
    
    .hero{
        line-height: 90px;
    }
    
    .main{
        line-height: 90px;
    }
    
    .img{
        line-height: 80px;
    }
    
    .extra{
        line-height: 80px;
    }
}