.contenedor{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 100px 200px 200px 100px;
    gap: 10px;
}

header{
    background-color: cyan;
    grid-column: 1/7;
    line-height: 100px;
    color: white;
    font-size:larger;
    padding-left: 10px;
}

.contenido{
    background-color: lawngreen;
    grid-column: 2/5;
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;
}

.barra{
    background-color: violet;
    grid-column: 5/6;
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;
}

.ge1{
    background-color: orange;
    grid-column: 2/4;
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;

}

.ge2{
    background-color: orange;
    grid-column: 4/6;
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;
}

footer{
    background-color: cornflowerblue;
    grid-column: 1/7;
    line-height: 100px;
    color: white;
    font-size:larger;
    padding-left: 10px;
}

