.contenedor{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    border: 10px solid #2196F3;
    background-color:#2196F3;
    grid-template-areas: 
    "header header header header header header"
    "menu main main main dcha dcha"
    "menu pie pie pie pie pie";
}

.contenedor div{
    background-color: rgba(255,255,255,0.8);
    font-size: xx-large;
    text-align: center;
    line-height: 200px;
}

.cabecera{
    grid-area: header; 
}

.menu{
    grid-area: menu;
}

.main{
    grid-area: main;
}

.dcha{
    grid-area: dcha;
}

.pie{
    grid-area: pie;
}

@media all and (max-width:600px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100px 100px 100px 100px;
        grid-template-areas: 
        "header header header"
        "main main menu"
        "dcha dcha menu"
        "pie pie menu";
    }

    .contenedor div{
        line-height: 100px;
    }

    .contenedor .menu{
        line-height: 300px;
    }
}