body{
    background-color: aqua;
}

img{
    left: 0;
    top: 0;
    position: relative;
    transition: 2.5s;
    border-radius: 0;
}

div{
    width:100px;
}

div:hover img{
    position: relative;
    left: 400px;
    transform: rotate(45deg);
    top:200px;
    border-radius: 50px;
}