.contenedor{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    border: 5px black solid;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.contenedor div{
    background-color: darkcyan;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
}

