body{
    margin:0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 30px;
    background: #333334;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
}

nav{
    display: flex;
    flex-direction: column;
    background: #CCC;
    width: 300px;
}

nav a{
    color: #555;
    text-decoration: none;
    padding: 15px;
}

nav a:hover{
    background: #555;
    color: #CCCCCC;
}