header{
    border-top: 3px brown solid;
    border-bottom: 3px brown solid;
    padding: 1% 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav a{
    text-decoration: none;
    padding: 1% 3%;
    margin: 0 2%;
    border: 2px saddlebrown solid;
    border-radius: 25px;
    color: saddlebrown;
}

main{
    display: flex;
    flex-direction: row;
    border-bottom: 3px brown solid;
}

main div{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    margin-top: 2%;
}

main div a{
    text-decoration: none;
    padding: 1%;
    margin: 2%;
    border: 2px saddlebrown solid;
    border-radius: 25px;
    text-align: center;
    color: saddlebrown;
}

main img{
    flex-basis: 80%;
    margin: 2%;
    border-left: 3px saddlebrown solid;
    justify-content: center;
}

.productos{
    border-top: 3px brown solid;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.barras,.especiales{
    border-top: 3px brown solid;
    width: 45%;
    justify-content: center;
    align-items: center;
}

