body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: blanchedalmond;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin: 2px;
    line-height: 30px;
    padding-left: 5px;
}

#main{
    display: flex;
      
}

nav{
    background-color:rgb(197, 198, 255);
    border-radius: 10px;
    flex:1 1 20%; 
    margin: 2px;
    line-height: 30px;
    padding-left: 5px;
}

article{
    background-color:palegreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex:2 1 60%; /*Short hand:row,shrink y basis*/
    margin: 2px;
}

#main article h1{
    text-align: center;
    font-weight: normal;
}

img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

#main article p{
    text-align: center;
}

aside{
    background-color: rgb(197, 198, 255);
    border-radius: 10px;
    flex:1 1 20%; 
    padding: 5px;
    margin: 2px;
    line-height: 30px;
    padding-left: 5px;
}

footer{
    background-color:blanchedalmond;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin: 2px;
    line-height: 30px;
    padding-left: 5px;
}

@media all and (max-width:640px){
    #main{
        flex-direction: column;
    }

    nav{
        order:2;
        margin-left: 0;
        margin-right: 0;
    }

    article{
        order:1;
        margin-left: 0;
        margin-right: 0;
    }

    aside{
        order:3;
        margin-left: 0;
        margin-right: 0;

    }
}