*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: right;
    color: white;
    font-size: xx-large;
    padding-top: 10px;
}

#caja{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.polonia{
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    flex-basis: 100%;
    flex-grow: 1;
}

.polonia img{
    width: 90%;
    align-self: center;
    margin-top: 15px;
}

.polonia h1{
    font-size:medium;
    text-align: center;
}

.polonia p{
    width:90%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 20px;
}

.oporto{
    display: flex;
    flex-direction: column;
    background-color:darkseagreen;
    flex-basis: 100%;
    flex-grow: 1;
}

.oporto img{
    width: 90%;
    align-self: center;
    margin-top: 15px;
}

.oporto h1{
    font-size:medium;
    text-align: center;
}

.oporto p{
    width:90%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 20px;
}

.malta{
    display: flex;
    flex-direction: column;
    background-color:lightblue;
    flex-basis: 100%;
    flex-grow: 1;
}

.malta img{
    width: 90%;
    align-self: center;
    margin-top: 15px;
}

.malta h1{
    font-size:medium;
    text-align: center;
}

.malta p{
    width:90%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media all and (max-width:650px){
    #caja{
        flex-direction: column;
    }

    .polonia{
        order:2;
    }

    .oporto{
        order:3;
        
    }

    .malta{
        order:1;
    }
}