.naranja>div{
    background-color: orange;
    height: 100px;
    border: 10px solid white;
}

.amarillo{
    background-color: yellow;
    height: 280px;
    border: 10px solid white;
}

.azul>div{
    background-color: darkcyan;
    height: 200px;
    border: 10px solid white;
}

.gris>div{
    background-color: lightgray;
    height: 180px;
    border: 10px solid white;
}