.contenedor{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 80px 70px 120px 120px 30px;
    gap: 10px;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "aside aside rosa rosa rosa rosa rosa rosa rosa rosa rosa rosa"
    "aside aside nar1 nar1 nar1 nar1 nar1 nar2 nar2 nar2 nar2 nar2"
    "aside aside minis minis minis minis minis minis minis minis minis minis"
    "pie pie pie pie pie pie pie pie pie pie pie pie";
}

.contenedor *{
    border: 2px solid black;
    text-align: center;
}

.contenedor .minis{
    border: none;
}

.cabeza{
    background-color:rgb(49, 245, 65);
    grid-area: header;
    line-height: 80px;
}

.lateral{
    background-color:rgb(252, 7, 7);
    grid-area: aside;
    line-height: 310px;
}

.rosa{
    background-color:rgb(245, 87, 179);
    grid-area: rosa;
    line-height: 70px;
}

.nar1{
    background-color: orange;
    grid-area: nar1;
    line-height: 120px;
}

.nar2{
    background-color: orange;
    grid-area: nar2;
    line-height: 120px;
}

.minis{
    grid-area: minis;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,55px);
    gap: 10px;
    grid-template-areas:
    "m1 m2 m3 m4 m5"
    "m6 m7 m8 m9 m10"; 
    color: white;
    line-height: 55px;
}

.m1{
    grid-area: m1;
}

.m2{
    grid-area: m2;
}

.m3{
    grid-area: m3;
}

.m4{
    grid-area: m4;
}

.m5{
    grid-area: m5;
}

.m6{
    grid-area: m6;
}

.m7{
    grid-area: m7;
}

.m8{
    grid-area: m8;
}

.m9{
    grid-area: m9;
}

.m10{
    grid-area: m10;
}

.m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8,.m9,.m10{
    background-color: blue;
}

.pie{
    background-color:rgb(49, 245, 65);
    grid-area: pie;
    line-height: 30px;
}

@media all and (max-width:600px){
    .contenedor{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 80px 70px 120px 120px 240px;
        gap: 10px;
        grid-template-areas: 
        "header header header header"
        "aside rosa rosa rosa"
        "aside nar1 nar1 nar1"
        "aside nar2 nar2 nar2"
        "minis minis minis minis"
        "pie pie pie pie";
    }

    .minis{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,40px);
        gap: 10px;
        grid-template-areas:
        "m1 m2"
        "m3 m4"
        "m5 m6"
        "m7 m8"
        "m9 m10"; 
        line-height: 40px;
    }
}