body{
    background-color: rgb(194, 54, 11);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#cuerpo{
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 50px 240px auto 70px;
}

header{
    grid-column: 1/4;
    line-height: 14px;
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(238, 216, 120);
}

nav{
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(238, 216, 120);
    align-items: center;
}

nav a{
    text-decoration: none;
    color: rgb(194, 54, 11);
}

.foto{
    grid-column: 1/4;
    background-image: url(images/1.jpg);
    background-size: cover;
}

.textoizq{
    grid-column: 1/3;
    padding: 0 3% 3% 3%;
}

.textoizq p a{
    color: rgb(238, 216, 120);
}

.textoizq h2, .textoizq h3{
    color: rgb(238, 216, 120);
}

.textodcha{
    grid-column: 3/4;
    padding: 3%;
}

.textodcha h2{
    color: rgb(238, 216, 120);
    border-top: 2px solid rgb(238, 216, 120);
    border-bottom: 2px solid rgb(238, 216, 120);
}

.textodcha .lista ul li>a{ 
    color: rgb(238, 216, 120);
    line-height: 30px;
}

.textodcha p span{
    color: black;
    font-weight: bold;
}

.textodcha p a{
    color: rgb(238, 216, 120);
}

.textodcha .titulo2{
    margin-top: 15%;
}

footer{
    grid-column: 1/4;
    background-color: rgb(117, 30, 4);
    color: rgb(238, 216, 120);
    text-align: center; 
    line-height: 18px;
    font-size: x-small;   
}




