.cuerpo{
    border-radius: 50px 0 50px 0;
    
    box-shadow: 0 0 10px black;
    padding-top: 2px;
}

header{
    background-color: lightgray;
    width: 95%;
    margin: 0px auto;
    height: 20vh;
    border-radius: 50px 0 0 0;
    line-height: 20vh;
    padding-left: 20px;
    color:rgb(78, 76, 76);
}

header h1:nth-child(2){
    display: none;
}

main div{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    height: 45vh;
    align-items: center;
}

main h2{
    text-align: right;
    padding-right: 3%;
}

.diseño,.montaña,.animales{
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    margin: 15px;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 10px black;
    padding: 20px;
    text-align: justify;
}

.diseño{
    background-color:rgb(84, 209, 241);
}

.montaña{
    background-color: rgb(242, 202, 133);
}

.animales{
    background-color:rgb(248, 154, 126);
}

.diseño h2,.montaña h2,.animales h2{
    text-align: center;
    color: white;
    padding-right: 0;;
}

.diseño p:nth-child(3),.montaña p:nth-child(3){
    font-style: italic;
}

.diseño img{
    width: 60%;
    align-self: center;
}

.montaña img,.animales img{
    width: 40%;
    align-self: center;
}

.caca{
    display: flex;
    flex-direction: column;
}

.abajo{
    display: flex;
    flex-direction: column;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 10px black;
    height: 50%;
    width: 95%;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2%;
}

.aficiones{
    display: flex;
    flex-direction: column;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 10px black;
    width: 92%;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
}

.aficiones p{
    text-align: left;
}

.aficiones p:nth-child(2){
    padding: 2px;
}

.aficiones img{
    width: 40%;
    border-radius: 30px;
}

.pie{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: small;
    padding: 5%;
}

main{
    margin-bottom: 10%;
}

@media all and (max-width:800px){
    header h1:nth-child(1){
        display: none;
    }

    header h1:nth-child(2){
        display: block;
        color: rgb(78, 76, 76);
        text-align: center;
        line-height: 20vh;
    }

    main h2{
        text-align: center;
    }

    main div{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        height: 150vh;
    }

}