.cuerpo{
    background-color: rgb(1, 1, 41);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "rock alpe magda legends legends"
    "us alta rio legends legends";
}

.rock{
    grid-area: rock;
    background-image: url("img/1.jpg");
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.rock p{
    font-weight: bold;
    font-size: small;
    position: relative;
    bottom: 10px;
}

.alpe{
    grid-area: alpe;
    background-image: url("img/2.jpg");
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.alpe p{
    font-weight: bold;
    font-size: small;
    position: relative;
    bottom: 10px;
}

.magda{
    grid-area: magda;
    background-image: url("img/3.jpg");
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.magda p{
    font-weight: bold;
    font-size: small;
    position: relative;
    bottom: 10px;
}

.us{
    grid-area: us;
    background-image: url("img/4.jpg");
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.us p{
    font-weight: bold;
    font-size: small;
    position: relative;
    bottom: 10px;
}

.alta{
    grid-area: alta;
    background-image: url("img/5.jpg");
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.alta p{
    font-weight: bold;
    font-size: small;
    position: relative;
    bottom: 10px;
}

.rio{
    grid-area: rio;
    background-image: url("img/6.jpg");
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}

.rio p{
    font-weight: bold;
    font-size: small;
    position: relative;
    bottom: 10px;
    
}

.legends{
    grid-area: legends;
    background: url("img/banner.jpg") no-repeat center;
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    text-align: center;
    line-height: 12px;
}

.legends button{
    margin-bottom: 40%;
    background-color: yellow;
    border: none;
    border-radius: 20px;
    padding: 2% 25%;
    font-weight: bold;
}

.legends p{
    font-weight: bold;
}

@media all and (max-width:900px){
    .contenedor{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "rock alpe legends legends"
        "magda us legends legends"
        "alta rio legends legends";
    }
}

@media all and (max-width:600px){
    .contenedor{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        grid-template-areas: 
        "rock alpe"
        "magda us"
        "alta rio"
        "legends legends"
        "legends legends";
    }
}