.cuerpo{
    background-image: url('images/img02.jpg');
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 85px auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.laterales{
    background-image: url('images/img01.jpg');
    background-position: center;
    background-size:contain;
    background-repeat: repeat;
}

header{
    grid-area: header;
    /*background-color: rgb(0, 53, 11);*/
}

header nav{
    display: flex;
    justify-content: space-around;
    line-height: 85px;
    margin-bottom: 2%;
}

header nav a{
    text-decoration: none;
    color: white;
    border-right: 1px rgb(0,170,35) solid;
    padding-right: 37px;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "titulo titulo"
    "izq dcha";
}

.titulo{
    grid-area: titulo;
}

.titulo h1{
    font-weight: normal;
    line-height: 2pt;
    text-shadow: 1px 1px 1px #0A0A0A;
}

.titulo p{
    font-size: 10pt;
}

.cizq{
    grid-area: izq;
    margin-right: 7%;
}

.bienvenido hr{
    display: block; 
    height: 2px; 
    border: 0; 
    border-top: 1px solid rgb(0, 198, 41); 
    margin: 1em 0; 
    padding: 0;
}

.bienvenido .posted{
    font-size: 8pt;
}

.titulo1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo1 h2{
    font-weight: normal;
}

.titulo1 img{
    height: 80%;
    display: flex;
    align-self: center;
}

.cdcha{
    grid-area: dcha;
}

footer{
    grid-area: footer;
}

