@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Rajdhani&display=swap');

body{
    font-family: 'Rajdhani', sans-serif;
}

.cuerpo{
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px 60px 80px 80px auto 120px auto 50px;
    grid-template-areas: 
    "header header header"
    "menu menu menu"
    "titulo titulo titulo"
    "subtitulo subtitulo subtitulo"
    "centro centro centro"
    "tibajo tibajo tibajo"
    "fobajo fobajo fobajo"
    "boton boton boton";
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2%;
}

header .izq{
    grid-column: 1/2;
}

.izq img{
    width: 5%;
    height: 15%;
    padding: 5px;
}

.izq p{
    font-size: 7pt;
}

.izq{
    display: flex;
    flex-direction: row;
}

header .centro{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

.menu{
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}

.menu nav a{
    text-decoration: none;
    padding: 0 10px;
    color: black;
    font-size: 11pt;
}

.menu nav a img{
    width: 40px;
}

.menu nav a:nth-child(1){
    border:1px solid rgb(198, 178, 152);
    padding:3px;
}

.menu nav a:last-child{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    grid-area: titulo;
    background-color: black;
    color: rgb(198, 178, 152);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1>span{
    font-weight: bold;
}

.subtitulo{
    grid-area: subtitulo;
    text-align: center;
    line-height: 5px;
    color: rgb(198, 178, 152);
    margin-bottom: 2%;
}

.fotoscentro{
    grid-area: centro;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(198, 178, 152);
    padding: 5px;
    margin-bottom: 2%;
    gap:8px;
}

.fotoscentro img{
    width: 100%;
}

.titulobajo{
    grid-area: tibajo;
    background-color: black;
    color: rgb(198, 178, 152);
    text-align: center;
    font-size: 11pt;
    line-height: 8px;
    height: 100px;
    padding: 3px;
    margin-bottom: 2%;
    gap: 4px;
}

.titulobajo p a{
    color: rgb(198, 178, 152);
    display: flex;
    justify-items:right;
}

.titulobajo .bandera .azul{
     width: 20px;
     height: 10px;
     background-color: blue;
}

.titulobajo .bandera .blanco{
    width: 20px;
    height: 10px;
    background-color: white;
}

.titulobajo .bandera .rojo{
    width: 20px;
    height: 10px;
    background-color: red;
}

.bandera{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
}

.fila{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.fila p a{
    grid-column: 3/4;
}

.fotosabajo{
    grid-area: fobajo;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.2fr 1fr;
    margin-bottom: 2%;
}

.fotosabajo .foto1 img, .fotosabajo .foto2 img{
    width: 98%;
}

.fotosabajo .foto2{
    margin-left: 4px;
}

.fotosabajo .texto1, .fotosabajo .texto2{
    background-color: rgb(198, 178, 152);
    padding: 8px;
    text-align: center;
}

.texto1 p, .texto2 p{
    font-size: 10pt;
}

.boton{
    grid-area: boton;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.boton button{
    border: 1px solid rgb(198, 178, 152);
    color: rgb(198, 178, 152);
    background-color: white;
    padding: 3px;
    grid-column: 4/5;
    margin-bottom: 5%;
}

footer{
    grid-area: pie;
    background-color: rgb(198, 178, 152);
    height: 110px;
    text-align: center;
    padding: 2px;
}

footer nav a{
    text-decoration: none;
    color: black;
    padding: 0 1%;
    font-size: 11pt;
}

footer nav .blanco{
    color: white;
}


