@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Quicksand:wght@300&family=Rajdhani&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

.foto img{
    width: 100%;
}

.menu{
    padding: 4% 10%;
}

.menu img{
    width: 100%;
    display: flex;
    justify-self: center;
}

span{
    font-weight: bold;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}