@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Quicksand:wght@300&family=Rajdhani&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

.contenido{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr,2fr,2fr,1fr;
    grid-template-areas: 
    "tit tit"
    "uno dos"
    "tres cuatro"
    "inicio inicio";
}

.contenido h1{
    grid-area: tit;
}

.uno{
    grid-area: uno;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "foto texto";
}

.uno img{
    grid-area: foto;
}

.texto{
    grid-area: texto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dos{
    grid-area: dos;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "foto texto";
}

.dos img{
    grid-area: foto;
}

.tres{
    grid-area: tres;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "texto foto";
}

.tres img{
    grid-area: foto;
}

.cuatro{
    grid-area: cuatro;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "texto foto";
}

.cuatro img{
    grid-area: foto;
}

img{
    width: 100%;
}

.texto a{
    background-color: #fdebef;
    border:1px solid rgb(253, 219, 245);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px 2px #000000;
    font-weight: bold;
    width: 40%;
    margin-top: 5%;
    align-self: center;
}

.inicio{
    grid-area: inicio;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

@media all and (max-width:700px){
    .contenido{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr,2fr,2fr,2fr,2fr,1fr;
        grid-template-areas: 
        "tit"
        "uno"
        "dos"
        "tres"
        "cuatro"
        "inicio";
    }

    .dos{
        grid-template-areas: 
        "texto foto";
    }

    .tres{
        grid-template-areas: 
        "foto texto";
    }
}
