@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Quicksand:wght@300&family=Rajdhani&display=swap');

.contenido{
    font-family: 'Quicksand', sans-serif;
}

.encabezado{
    background-image: url("Fotos/1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 95%;
    height: auto;
    padding-bottom: 2%;
    padding-top: 2%;
}

.encabezado nav{
    text-align: center;
}

.encabezado nav a{
    text-decoration: none;
    color:white;
    margin: 0 2%;
    text-shadow: 1px 1px 1px #000000;
    font-weight: bold;
}

.encabezado p{
    color: white;
    text-align: center;
    font-size: 20pt;
    text-shadow: 1px 1px 1px #000000;
}

.dropdown{
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
    align-self: center;
}

.logo img{
    width: 30%;
    margin: 10% 0 4% 0;

}

.dos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "texto imagen";
    padding: 2%;
}

.dos .texto{
    grid-area: texto;
    text-align: center;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto hr{
    width: 70%;
}

.texto h1{
    margin-bottom: 0;
}

.texto p{
    line-height: 20pt;
}

.texto p span{
    font-weight: bold;
}

.dos img{
    grid-area: imagen;
    width: 80%;
    display: flex;
    justify-self: right;
    align-self: center;
}

.tres{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr,2fr,2fr,1fr;
    grid-template-areas: 
    ". titulo ."
    "a b c"
    "d e f"
    ". enlace .";
    background-color: #fdebef;
}

.tres h1{
    grid-area: titulo;
    margin-bottom: 15%;
    text-align: center;
}

.tres a{
    grid-area: enlace;
    text-align: center;
    text-decoration: none;
    margin: 8%;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.tres .a{
    grid-area: a;
}

.tres .b{
    grid-area: b;
}

.tres .c{
    grid-area: c;
}

.tres .d{
    grid-area: d;
}

.tres .e{
    grid-area: e;
}

.tres .f{
    grid-area: f;
}

.a img,.b img,.c img,.d img,.e img,.f img{
    width: 40%;
    border-radius: 1000px;
}

.a,.b,.c,.d,.e,.f{
    text-align: center;
    margin-bottom: 4%;
}

.a p,.b p,.c p,.d p,.e p,.f p{
    font-weight: bold;
}

.cuatro{
    display: grid;
    grid-template-columns: 1fr,2fr,2fr;
    grid-template-areas: 
    "img blog blog";
    padding: 2%;
}

.cuatro img{
    grid-area: img;
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    
}

.blog{
    grid-area: blog;
    padding: 2% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog h1{
    text-align: center;
    margin: 0;
}

.blog1,.blog2{
    text-align: center;
    line-height: 14pt;
}

.blog1 h3,.blog2 h3{
    margin: 4%;
}

.blog1 button{
    margin-bottom: 2%;
}

.blog1 a,.blog2 a{
    background-color: #fdebef;
    border:1px solid rgb(253, 219, 245);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px 2px #000000;
    font-weight: bold;
}

.blog1 p,.blog2 p{
    margin-bottom: 4%;
}

.blog2{
    margin-top: 8%;
}

.contacto{
    background-image: url("Fotos/1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 95%;
    height: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mapa donde";
}

.contacto img{
    grid-area: mapa;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.donde{
    grid-area: donde;
    color: white;
    background-color: black;
    width: 80%;
    height: 80%;
    opacity: 80%;
    text-align: center;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.donde a{
    text-decoration: none;
    color: white;
}

.donde p{
    margin: 0;
}

.donde h1{
    margin-top: 0;
}

@media all and (max-width:800px){
    .contacto{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "donde";
    }

    .contacto img{
        display:none;
    }

    .donde{
        background-color:transparent;
        text-shadow: 1px 1px 1px #000000;
    }
}

@media all and (max-width:700px){
    .dropdown{
        display: block;
    }

    .encabezado nav{
        display: none;
    }

    .dropbtn {
        background-color: black;
        opacity: 95%;
        color: white;
        padding: 5px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 30%;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        display: flex;
        justify-content: center;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: black;
        opacity: 95%;
      }

      .encabezado p{
        font-size: 14pt;
    }

    .logo img{
        width: 50%;
    }

    .dos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr,2fr;
        grid-template-areas: 
        "texto"
        "imagen";
        padding: 2%;
    }

    .dos img{
        justify-self: center;
    }

    .texto{
        justify-content: start;
    }

    .tres{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr,2fr,2fr,2fr,1fr;
        grid-template-areas: 
        "titulo titulo"
        "a b"
        "c d"
        "e f"
        "enlace enlace";
        background-color: #fdebef;
    }

    .cuatro{
        grid-template-columns:1fr;
        grid-template-rows: 1fr,2fr;
        grid-template-areas: 
        "blog"
        "img";
        padding: 2%;
    }

    .blog{
        padding: 2% 6%;
        display: flex;
        flex-direction: column;
        justify-content:start;
        margin-bottom: 3%;
    }

    .blog h1{
        margin-bottom: 7%;
        margin-top: 5%;
    }
}