.logo{
    z-index: 2;
    width: 40%;
    position: relative;
    top:100px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0);
}
.cafe{
    position: absolute;
    z-index: -1;
}

.nav{
    text-shadow: 3px 3px 3px #0A0A0A;
}

