@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Quicksand:wght@300&family=Rajdhani&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

.foto img{
    width: 100%;
}

.formulario,.contacto{
    padding: 4% 10%;
}

.formulario label,.formulario input{
   margin: 2px;
   width: 60%;
}

.formulario button{
    margin-top: 10px;
    background-color: #fdebef;
    border:1px solid rgb(253, 219, 245);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px 2px #000000;
    font-weight: bold;
}

.descripcion{
    height: 100px;
}

.contacto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "donde foto";
}

.contacto img{
    grid-area: foto;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    width: 90%;
}

.donde{
    grid-area: donde;
    
}

.inicio{
    grid-area: inicio;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


@media all and (max-width:700px){
    .contacto{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "donde"
        "foto";
    }

    .contacto img{
        justify-self: left;
    }
}