@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Quicksand:wght@300&family=Rajdhani&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

.contenido{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr,2fr,2fr,1fr;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "inicio";
}

.uno,.dos,.tres{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.uno{
    grid-area: uno;
    grid-template-areas: 
    "imagen texto";
}

.uno img{
    grid-area: imagen;
}

.texto a{
    background-color: #fdebef;
    border:1px solid rgb(253, 219, 245);
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px 2px #000000;
    font-weight: bold;
    width: 40%;
    margin-top: 5%;
    align-self: center;
}

.uno .texto{
    grid-area: texto;
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.dos{
    grid-area: dos;
    grid-template-areas: 
    "texto imagen";
}

.dos img{
    grid-area: imagen;
}

.dos .texto{
    grid-area: texto;
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.tres{
    grid-area: tres;
    grid-template-areas: 
    "imagen texto";
}

.tres img{
    grid-area: imagen;
}

.tres .texto{
    grid-area: texto;
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.uno img,.dos img,.tres img{
    width: 100%;
}

.inicio{
    grid-area: inicio;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
