@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Quicksand:wght@300&family=Rajdhani&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

.contenido{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr,3fr,1fr;
    grid-template-areas: 
    "foto"
    "menu"
    "inicio";
}

.foto{
    grid-area: foto;
}

.foto img{
    width: 100%;
}

.menu{
    grid-area: menu;
    padding: 4% 10%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr,2fr,2fr;
    grid-template-areas: 
    "titulo titulo titulo titulo titulo"
    "a b c d e"
    "f g h i j";
}

.menu h1{
    grid-area: titulo;
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.e{
    grid-area: e;
}

.f{
    grid-area: f;
}

.g{
    grid-area: g;
}

.h{
    grid-area: h;
}

.i{
    grid-area: i;
}

.j{
    grid-area: j;
}

.menu div{
    text-align: center;
    margin: 4%;
}

.menu div p{
    font-style: oblique;
}

.inicio{
    grid-area: inicio;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

@media all and (max-width:600px){
    .menu{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr,2fr,2fr,2fr,2fr;
        grid-template-areas: 
        "titulo titulo titulo"
        "a b c"
        "d e f"
        "g h i"
        "j . .";
    }
}

@media all and (max-width:350px){
    .menu{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr,2fr,2fr,2fr,2fr,2fr;
        grid-template-areas: 
        "titulo titulo"
        "a b"
        "c d"
        "e f"
        "g h"
        "i j";
    }
}