.cabecera{
    background-color: black;
    color: white;
    text-align: right;
}

.polonia{
    background-color: darkcyan;
}

.polonia>h1{
    font-size: 18pt;
    text-align: center;
    margin-top: 10px;
}

.polonia>img{
    margin-top: 10px;
    width: 100%;
}

.polonia>p{
    text-align: justify;
}

.oporto{
    background-color:darkseagreen;
}

.oporto>h1{
    font-size: 18pt;
    text-align: center;
    margin-top: 10px;
}

.oporto>img{
    margin-top: 10px;
    width: 100%;
}

.oporto>p{
    text-align: justify;
}

.malta{
    background-color:lightblue;
}

.malta>h1{
    font-size: 18pt;
    text-align: center;
    margin-top: 10px;
}

.malta>img{
    margin-top: 10px;
    width: 100%;
}

.malta>p{
    text-align: justify;
}