.contenedor{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,100px);
    grid-template-areas: 
    "feature1 feature1 feature1 cabeza cabeza cabeza cabeza"
    "barra central central central central central central"
    "barra central central central central central central"
    "barra central central central central central central"
    "barra central central central central central central"
    "barra pie pie pie pie pie pie";
    gap: 10px;
    color: white;
    text-align: center;
    line-height: 100px;
}

.feature1{
    grid-area: feature1;
    background-color: red;
}

.cabeza{
    grid-area:cabeza;
    background-color: black;
}

.barra{
    grid-area:barra;
    background-color: green;
    line-height: 500px;
}

.central{
    grid-area:central;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "productos productos productos productos feature2"
    "productos productos productos productos ."
    "b1 . . b3 feature3"
    ". b2 . . b4";
    gap: 10px;
}

.productos{
    grid-area:productos;
    background-color: blue;
    line-height: 200px;
}

.feature2{
    grid-area:feature2;
    background-color: red;
}

.feature3{
    grid-area:feature3;
    background-color: red;
}

.b1{
    grid-area:b1;
    background-color: lightpink;
}

.b2{
    grid-area:b2;
    background-color: lightpink;
}

.b3{
    grid-area:b3;
    background-color: lightpink;
}

.b4{
    grid-area:b4;
    background-color: lightpink;
}

.pie{
    grid-area:pie;
    background-color: orange;
}

@media all and (max-width:1000px){
    .contenedor{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(6,100px);
        grid-template-areas: 
        "feature1 cabeza cabeza"
        "barra central central"
        "barra central central"
        "barra central central"
        "barra central central"
        "barra pie pie";
        gap: 1px;
    }

    .central{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
        "productos feature2"
        "productos feature3"
        "b1 b3"
        "b2 b4";
        gap: 1px;
    }
}

@media all and (max-width:600px){
    .contenedor{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(9,50px);
        grid-template-areas: 
        "feature1 cabeza cabeza"
        "barra barra barra"
        "central central central"
        "central central central"
        "central central central"
        "central central central"
        "central central central"
        "central central central"
        "pie pie pie";
        gap: 1px;
        line-height: 50px;
    }

    .barra{
        line-height: 50px;
    }

    .central{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(6,50px);
        grid-template-areas:
        "productos feature2 feature2"
        "productos feature3 feature3"
        "b1 b1 b1"
        "b2 b2 b2"
        "b3 b3 b3"
        "b4 b4 b4";
        gap: 1px;
    }

    .productos{
        line-height: 100px;
    }

}