*{
    margin: 2px;
}

header{
    background-color:darkolivegreen;
    width: 100%;
    height: 10vh;
    border: 1px black solid;
}

#main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 80vh;
}

nav{
    background-color: cadetblue;
    flex-grow: 1;
    order:1;
    border: 1px black solid;
}

article{
    background-color:goldenrod;
    flex-grow: 4;
    order:2;
    border: 1px black solid;
}

aside{
    background-color: cadetblue;
    flex-grow: 1;
    order:3;
    border: 1px black solid;
    
}

footer{
    background-color:darkolivegreen;
    width: 100%;
    height: 10vh;
    border: 1px black solid;
}

@media all and (max-width:640px){
    #main{
        flex-direction: column;
    } 
    
    nav{
        order: 2;
    }

    article{
        order: 1;
    }

    aside{
        order: 3;
    }

    *{
        margin:0;
    }
}