.semi1{
    height: 100px;
    width: 200px;
    background-color: yellow;
    border-radius: 100px 100px 0 0;
    transform: rotate(-25deg);

    animation-name: semi1;
    animation-duration: 1.7s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

.semi2{
    height: 100px;
    width: 200px;
    background-color: yellow;
    border-radius: 0 0 100px 100px;
    transform: rotate(25deg);

    animation-name: semi2;
    animation-duration: 1.7s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

#pacman{
    position: absolute;
    left: 10px;

    animation-name: pacman;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

.bola1{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: black;
    position: absolute;
    top:100px;
    left:150px;

    animation-name: bola1;
    animation-duration: 1.5s;
    animation-delay: 0s;/*cambiar esto*/
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.bola2{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: black;
    position: absolute;
    top:100px;
    left:400px;

    animation-name: bola2;
    animation-duration: 3.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.bola3{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: black;
    position: absolute;
    top:100px;
    left:650px;

    animation-name: bola3;
    animation-duration: 5.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.bola4{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: black;
    position: absolute;
    top:100px;
    left:950px;

    animation-name: bola4;
    animation-duration: 7.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

@keyframes pacman {
    0%{
        left: 10px;
    }

    100%{
        left:1000px;
    }
}

@keyframes semi1 {
    from{
        transform: rotate(-25deg);
    } 
    
    to{
        transform: rotate(0deg);
    }
}

@keyframes semi2 {
    from{
        transform: rotate(25deg);
    }  
    
    to{
        transform: rotate(0deg);
    }
}

@keyframes bola1 {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes bola2 {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes bola3 {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@keyframes bola4 {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}