body{
    background-color: aqua;
}

img{
    width: 10%;
    position:absolute;

    animation-name: animacionbalon;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; /*rapido al principio lento al final*/
    animation-direction:normal;
}

@keyframes animacionbalon {
    0%{
        top: 0;
    }

    25%{
        top: 200px;
        left: 100px;
    }

    50%{
        top: 300px;
        left: 200px;
    }

    75%{
        top: 400px;
        left: 300px;
    }

    100%{
        top: 0%;
    }
    
}