div#simple{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;

    animation-name: minianimacion;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; /*rapido al principio lento al fina*/
    animation-direction: normal;
}

@keyframes minianimacion {
    0%{
        left: 0;
    }

    50%{
        left: 200px;
        background-color: blue;
    }

    100%{
        left: 0%;
    }
    
}