div{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
}

.box1{
    background-color: brown;
    color: white;
    text-align: center;
    line-height: 100px;
    transition: 2s;
}

.box2{
    background-color: blue;
    position: absolute;
    left: 120px;
}

.box1:hover + .box2{
    transform: rotate(360deg);
    background-color: orange;
    color: brown;
    left: calc(100% - 105px);
    transition: 2s;
}