.fila{
    display: flex;
    flex-direction: row;
}

.fila div{
    width: 100px;
    height: 100px;
}

.a{
    background-color: rgb(130, 223, 130);
    border: 2px solid rgb(48, 116, 48);
    margin:10px;
}

.a:hover{
    background-color:rgb(235, 124, 124);
    transition: 2.5s;
}

.b{
    background-color:rgb(235, 124, 124);
    border: 2px solid rgb(129, 51, 51);
    margin:10px;
}

.b:hover{
    border: 4px dotted black;
    transition: 1.5s;
}

.c{
    background-color:rgb(117, 172, 235);
    border: 2px solid rgb(51, 92, 139);
    margin:10px;
}

.c:hover{
    width: 50px;
    transition: 2.5s;
}

.d{
    background-color:rgb(235, 217, 117);
    border: 2px solid rgb(126, 110, 24);
    margin:10px;
}

.d:hover{
    height: 50px;
    transition: 2.5s;
}

.e{
    background-color:rgb(212, 117, 235);
    border: 2px solid rgb(64, 26, 73);
    margin:10px;
}

.e:hover{
    border-radius: 50px;
    transition: 2.5s;
}

.f{
    background-color:rgb(228, 235, 129);
    border: 2px solid rgb(117, 122, 44);
    margin:10px;
}

.f:hover{
    transform: rotate(180deg);
    transition: 2.5s;
}

.otro{
    width: 100px;
    height: 100px;
    background-color: rgb(130, 223, 130);
    border: 2px solid rgb(48, 116, 48);
    margin:10px;
}

.otro:hover{
    background-color:rgb(235, 124, 124);
    border: 4px dotted rgb(21, 51, 21);
    transform: rotate(180deg);
    border-radius: 100px;
    transition: 2.5s;
}

