body{
    background-color:rgb(78, 207, 240);
}

.circ1{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: white;
    position: absolute;
    top: 15px;
}

.circ2{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    left: 45px;
    top: 0;
}

.circ3{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 15px;
}

#nube1{
    position: absolute;
    top: 200px;
    left: 100px;
    opacity: 80%;

    animation-name: nube1;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

#nube2{
    position: absolute;
    top: 50px;
    left:450px;
    opacity: 80%;

    animation-name: nube2;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

#nube3{
    position: absolute;
    top: 140px;
    left:800px;
    opacity: 80%;

    animation-name: nube3;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

@keyframes nube1 {
    0%{
        left: 100px;
    }

    100%{
        left:900px;
    }
}

@keyframes nube2 {
    0%{
        left: 450px;
    }

    100%{
        left:800px;
    }
}

@keyframes nube3 {
    0%{
        left: 800px;
    }

    100%{
        left:10px;
    }
}