﻿*{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	color:darkgoldenrod;
}

table{
	width:100%;
	margin-top:20px;
	border-top:4px brown solid;
	border-bottom:4px brown solid;
	border-spacing: 15px;
}

th{
	width:15%;
	padding:2px;
}

td{
	border: 1px brown solid;
	border-radius:50px;
	height:25px;
}

tr td{
	text-align:center;
	font-weight:bold;
}

th{
	text-align:center;
	border: 1px brown solid;
	border-radius:50px;
	padding:10px;
}

tr th:nth-child(1),tr th:nth-child(2){
	border:none;
}

.imagen{
	border-radius:0;
	border-left:4px darkgoldenrod solid;
	border-bottom:0;
	border-right:0;
	border-top:0;
}

.vacio, .vacio2, .vacio3, .vacio4{
	border:none;
}

.raya td{
	border-top:4px brown solid;
	border-bottom:0;
	border-left:0;
	border-right:0;
	height:0;
	border-radius:0;
}

