.principal li{
	display:inline;
	background-color:gray;
	float:left;
	padding:5px;
}

a{
	text-decoration:none;
	color:white;
}

.curso:hover{
	background-color:#eaeaea
}
/*Ni idea
ul.secun li{
    display: block;
    position: relative;
    float: left;
}