﻿*{
	padding:0px;
	margin:0px;
}
header{
	background-color:lightpink;
	width:100%;
	height:200px;
	text-align:center;
	line-height:200px;
}
.navegacion{
	background-color:palegreen;
	width:100%;
	height:50px;
	text-align:center;
	line-height:50px;
}
.contenido{
	background-color:lightblue;
	width:100%;
	height:600px;
	text-align:center;
	line-height:600px;
}
.lista{
	background-color:plum;
	width:100%;
	height:50px;
	text-align:center;
	line-height:50px;
}
footer{
	background-color:khaki;
	width:100%;
	height:50px;
	text-align:center;
	line-height:50px;

}
