﻿*{
	padding:0px;
	margin:0px;
}
header{
	background-color:lightpink;
	width:100%;
	height:200px;
	text-align:center;
	line-height:200px;
}
.navegacion{
	background-color:palegreen;
	width:20%;
	height:500px;
	text-align:center;
	float:left;
	line-height:500px;	
}
.contenido{
	background-color:lightblue;
	width:60%;
	height:500px;
	text-align:center;
	float:left;
	line-height:500px;
}
.lista{
	background-color:plum;
	height:500px;
	text-align:center;
	line-height:500px;
}
footer{
	background-color:khaki;
	text-align:center;
	width:100%;
	height:200px;
	line-height:200px;	
}
