﻿*{
	padding:0px;
	margin:0px;
}
header{
	background-color:lightpink;
	width:100%;
	height:200px;
	text-align:center;
	line-height:200px;
}
.navegacion{
	background-color:palegreen;
	width:20%;
	height:800px;
	text-align:center;
	float:left;
	line-height:800px;
}
.contenido{
	background-color:lightblue;
	height:700px;
	text-align:center;
	line-height:700px;
}
.lista{
	background-color:plum;
	width:20%;
	height:800px;
	text-align:center;
	line-height:800px;
	float:right;
}
footer{
	background-color:khaki;
	height:100px;
	text-align:center;
	line-height:100px;
}
div:nth-of-type(2){
	position:absolute;
	left:20%;
	width:60%;
	alignment-adjust:central;
}