﻿*{
	padding:0px;
	margin:0px;
}
header{
	background-color:lightpink;
	width:100%;
	height:200px;
	text-align:center;
	line-height:200px;
}
body > div{
	width:100%;
}
#central{
	float:left;
	width:20%;
}
.navegacion{
	background-color:palegreen;
	width:100%;
	height:300px;
	text-align:center;
	line-height:300px;
}
.lista{
	background-color:plum;
	width:100%;
	height:300px;
	text-align:center;
	line-height:300px;
}
.contenido{
	background-color:lightblue;
	width:80%;
	height:600px;
	text-align:center;
	line-height:600px;
	float:left;
}
footer{
	background-color:khaki;
	width:100%;
	height:100px;
	text-align:center;
	line-height:100px;
	clear:both;
}
