﻿*{
	padding:0px;
	margin:0px;
}
header{
	background-color:lightpink;
	width:100%;
	height:200px;
	text-align:center;
	line-height:200px;
}
.navegacion{
	background-color:palegreen;
	width:100%;
	height:50px;
	text-align:center;
	line-height:50px;
}
.lista{
	background-color:plum;
	width:20%;
	height:800px;
	text-align:center;
	line-height:800px;
	float:left;

}
.contenido{
	background-color:lightblue;
	height:700px;
	text-align:center;
	line-height:700px;
}
footer{
	background-color:khaki;
	height:100px;
	text-align:center;
	line-height:100px;
}
