﻿*{
	padding:0px;
	margin:0px;
}
body div{
	margin-left:100px;
}
header{
	background-color:lightpink;
	width:800px;
	height:200px;
	text-align:center;
	line-height:200px;
	float:left;
}
.navegacion{
	background-color:palegreen;
	width:800px;
	height:50px;
	text-align:center;
	line-height:50px;
	float:left;
	margin:0px;
}
.contenido{
	background-color:lightblue;
	width:800px;
	height:600px;
	text-align:center;
	line-height:600px;
	float:left;
	margin:0px;
}
.lista{
	background-color:plum;
	width:800px;
	height:50px;
	text-align:center;
	line-height:50px;
	float:left;
	margin:0px;
}
footer{
	background-color:khaki;
	width:800px;
	height:50px;
	text-align:center;
	line-height:50px;
	float:left;

}
