body{
    width:90%;
    margin:0 auto;
    background-color: rgb(48, 32, 32);
}

header{
    background-color: orangered;
    color: beige;
    height: 7vh;
    line-height: 7vh;
    padding-left: 2%;
}

main{
    display: flex;
    flex-direction: row;
}

.izq,.dcha{
    flex-basis: 25%;
    background-color: rgb(26, 16, 16);
    color: orangered;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.central{
    flex-basis: 50%;
}

.izq div,.dcha div{
    border: 1px rgb(136, 124, 124) solid;
    width: 90%;
    margin-bottom: 5px;
}

.izq div h3{
    margin-left: 5px;
}

.izq div p{
    margin: 5px;
    color: rgb(136, 124, 124);
}

.dcha div a{
    color: rgb(136, 124, 124);
    margin-left: 5px;
}

.dcha div{
    padding: 7px 0;
}

footer{
    background-color: orangered;
    color: rgb(136, 124, 124);
    height: 4vh;
    line-height: 4vh;
    padding-left: 2%;
}

footer h4 a, footer h4{
    color: rgb(136, 124, 124);
}

.central{
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 42, 29);
    
}

.uno,.dos,.tres{
    width: 90%;
}

.uno h2,.dos h2,.tres h2{
    color: orangered;
}

.uno h2,.dos h2{
    margin-left: 3%;
}

.uno p{
    color: rgb(136, 124, 124);
    margin-left: 3%;
}

.dos h2 span{
    color: rgb(136, 124, 124);
    font-size: small;
}

.dos{
    display: flex;
    flex-direction: row;
}