﻿*{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
}

.padre{
	border-left: 2px darkgreen solid;
	border-right: 2px darkgreen solid;
	width:80%;
	margin:0 auto;
}

header{
	/*background-color:aquamarine;*/
	height:100%;
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.primavera{
	width:100%;
}

#menu>li{
	display:inline;
}

#menu{
	position:relative;
	bottom:20px;
	width:100%;
	text-align:center;
	min-width:10%;
}

#menu li>a{
  padding: 8px;
  text-decoration: none;
  color:white;
}

#menu li span{
	color:white;
}

/* NO SE VE*/
.chuletagris{
	background-color:gray;
	opacity:50%;
}

.abajo{
	/*background-color:darkorchid;*/
	height:700px;
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.izq{
	background-color:darkorange;
	height:700px;
	width:40%;
}

.buscar{
	background-color:goldenrod;
	padding-bottom:5px;	
}

.buscar>p>img{
	width:100%;
}

.buscar>.formulario{
	width:80%;
	margin-left:5%;
}

#fname{
	width:60%;
	margin-left:5%;
}

.buscar>.formulario>button{
	min-width:18%;
	padding:2px;
	text-align:center;
}

.buscar>.formulario2{
	width:80%;
	margin-left:5%;
	margin-top:6%;	
}

.buscar h4{
	color:white;
	margin-left:4%;
	position:relative;
	bottom:30px;
}

.registro{
	background-color:goldenrod;
	padding-bottom:5px;
	margin-top:10%;	
}

.registro>p>img{
	width:100%;
}

.registro h4{
	color:white;
	margin-left:4%;
	position:relative;
	bottom:30px;
}

.dcha{
	/*background-color:deeppink;*/
	height:700px;
	width:60%;
	position:relative;
	left:40%;
	bottom:100%;
}

.dcha .texto{
	width:80%;
	margin-left:10%;
	padding-top:6%;
	text-align:justify;
}