﻿*{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
}

body{
	width:100%;
}

.uno{
	margin-left:16%;
}

img{
	width:80%;
}

#menu li>a{
 /* background-color: grey;*/
  padding: 8px;
  text-decoration: none;
  color:white;
}

#menu>li{
	display:inline;
}

button{
	padding-left:2px;
	padding-right:2px;
}

.dos{
	margin-top:40px;
}

.tres{
	width:40%;
	display:inline-block;
	float:left;
}

form{
	padding:2px;
	margin-left:8px;
}

.cuatro{
	background-color:gold;
	padding: 0 0 5px 0;
	margin-bottom:20px;
	width:90%;
}

a{
	color:blue;
}

div ul{
	display:block;
}

#menu{
	position:relative;
	bottom:20px;
	width:90%;
}

span{
	color:white;
}

h4{
	position:relative;
	bottom:38px;
	left:10px;
	color:white;
}

.cinco{
	background-color:gold;
	padding: 0 0 5px 0;
	margin-bottom:20px;
	width:90%;
}

.seis{
	background-color:gold;
	padding: 0 0 5px 0;
	margin-bottom:20px;
	width:90%;
}

.seis>ul{
	margin-left:30px;
	padding-bottom:8px;
}

.cinco>p:last-child{
	margin-left:10px;
	padding-bottom:8px;

}

.seis>ul>li{
	list-style-type:square;
}

.cuatro>p>img{
	width:100%;
}

.cinco>p>img{
	width:100%;
}

.seis>p>img{
	width:100%;
}

.siete{
	display:inline-block;	
	float:left;
	width:55%;
}

.siete p, .siete h1{
	text-align:justify;
	width:90%;
}

.formulario{
	width:90%;
}