body{
    font-family:'Times New Roman', Times, serif;
}

.logo{
    display: flex;
    flex-direction:row;
    color: white;
    align-items: center;
}

.logo>img{
    width: 7%; 
    margin-right: 5px;
}

.cabecera,.pie{
    display: flex;
    flex-direction: row;
    background-color: rgb(3, 48, 85);
    /*flex-basis: 95%;*/
    align-items: center;
    justify-content:space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.pie{
    justify-content:space-between;
    height: 60px;
}

.cabecera>nav,.pie>nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 45%;
}

.pie>nav{
    flex-basis: 25%;
}
.pie .dos{
    flex-basis: 15%;
}

.pie .dos>a{
    background-color: orange;
    flex-basis: 15%;
}

.cabecera>nav>a,.pie>nav>a{
    background-color: brown;
    text-decoration: none;
    color: white;
    width: 50%;
    padding: 2%;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: row;
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-basis: 70%;
    padding: 2%;
}

.p1{
    border-bottom: 2px black solid;
}

.naranja{
    display: flex;
    flex-direction: column;
    background-color: orange;
    flex-basis: 30%;
    justify-content: space-around;
}

.caja1,.caja2{
    background-color: orangered;
    flex-basis: 40%;
    margin: 0 14px 0 14px;
}

@media all and (max-width:800px){
    .cabecera{
        flex-direction: column;
        padding:0%;
    }

    .cabecera>nav{
        width: 100%;
    }

    .logo{
        justify-content: center;
    }

    .menu{
        flex-direction: column;
    }

    .naranja{
        flex-direction: row;
        height: 500px;
        justify-content: space-around;
        flex:1 1 150px;
    }

    .caja1,.caja2{
        margin: 14px 0;
    }
}