header, footer{
    background-color: cadetblue;
    width: 100%;
    height: 10vh;
    color: white;
    line-height: 10vh;
    padding-left: 5px;
    font-size: x-large;
}

footer{
    background-color:mediumblue;
}

main{
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    font-size: x-large;
    line-height: 100px;
    text-align: center;
}

.menu{
    background-color: lawngreen;
    flex: 1 1 70%;
    
}

.sidebar{
    background-color: blueviolet;
    flex: 1 1 30%;
}

.twin,.twin2{
    background-color: orange;
    flex: 1 1 50%;

}
.relleno{
    flex: 1 1 20%;
    background-color: aquamarine;
    height: 100%;
}
#central{
    display:flex;
    flex-wrap: wrap;
    flex:1 1 60%;
}
#central div{
    height: 100px;
}