.contenedor{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 100px 200px 200px 100px;
    gap: 10px;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera cabecera cabecera"
    ". contenido contenido contenido barra ."
    ". uno uno dos dos ."
    "pie pie pie pie pie pie";
}

header{
    background-color: cyan;
    /*grid-column: 1/7;*/
    line-height: 100px;
    color: white;
    font-size:larger;
    padding-left: 10px;
    grid-area: cabecera;
}

.contenido{
    background-color: lawngreen;
    /*grid-column: 2/5;*/
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;
    grid-area: contenido;
}

.barra{
    background-color: violet;
    /*grid-column: 5/6;*/
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;
    grid-area: barra;
}

.ge1{
    background-color: orange;
    /*grid-column: 2/4;*/
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;
    grid-area: uno;

}

.ge2{
    background-color: orange;
    /*grid-column: 4/6;*/
    line-height: 200px;
    color: white;
    font-size:larger;
    text-align: center;
    grid-area: dos;
}

footer{
    background-color: cornflowerblue;
    /*grid-column: 1/7;*/
    line-height: 100px;
    color: white;
    font-size:larger;
    padding-left: 10px;
    grid-area: pie;
}

@media all and (max-width:600px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 100px 200px 200px 100px;
        gap: 10px;
        grid-template-areas: 
        "cabecera cabecera cabecera cabecera cabecera cabecera"
        "contenido contenido contenido contenido barra barra"
        "uno uno uno dos dos dos"
        "pie pie pie pie pie pie";
    }
}